.container {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.container > div,
.container > h3 {
  border-right: 1px solid #ccc;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container > h3 {
  border-left: 1px solid #ccc;
}

.rank {
  width: 8%;
}
.img {
  width: 12%;
}
.name {
  width: 50%;
}
.selectcount {
  width: 15%;
}
.wincount {
  width: 15%;
}

.img > div {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #ccc;
}
