.container {
  width: 100%;
  margin-top: 100px;
}
.defaultinfo {
  width: 100%;
  margin-top: 50px;
  /* border: 1px solid #ccc; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
}
.thumnail {
  width: 50%;
}
.none_thumnail {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  font-size: 20px;
}
.textinfo {
  width: 50%;
  padding: 20px;
}
.name {
  font-size: 20px;
  margin-bottom: 20px;
}
.description {
  width: 100%;
  height: 60px;
  font-size: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.makinginfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.playcount {
  margin-left: 20px;
}
.playbutton {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.playbutton > button {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
}
.writer {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.playcount > span {
  color: var(--main-color);
}
