:root {
  --main-color: #2db4fc;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

input {
  outline: none;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
}

.center_wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.w_100 {
  width: 100%;
}
