.header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 30px;
  margin-right: 10px;
}

.logout {
  display: flex;
  align-items: center;
}

.logout > div {
  margin-right: 10px;
}
