.container {
  width: 100%;
  height: calc(100vh - 57px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 24px;
  margin-bottom: 20px;
}
.sub_title {
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 14px;
  color: #ccc;
}
.form {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.wrapper {
  margin-right: 15px;
}
.wrapper > input:first-child {
  margin-bottom: 10px;
}
.finds {
  margin-top: 20px;
}
.finds > button {
  margin: 0 20px;
}
.logo {
  width: 30px;
  margin-bottom: 20px;
}
